@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100vh;
  background: #f5f5dc;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
}
.navbar-menu {
  display: flex;
  gap: 10px;
}
.navbar-start {
  width: 5%;
  cursor: pointer;
}
.navbar-start img {
  width: 100%;
}
.navbar .button {
  padding: 10px 20px;
  border: 1px solid lightgrey;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.navbar .button:active {
  box-shadow: 0 0 5px 1px lightgrey;
}
main {
  height: 90vh;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.post {
  background: white;
  padding: 20px;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: rgba(166, 166, 166, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: black;
}
.post:hover {
  transform: scale(1.05);
}
.container .title {
  font-weight: bold;
  font-size: 2rem;
}
.author,
.date {
  color: grey;
}

.post-container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}
.post-container .title {
  font-size: 50px;
  font-weight: bold;
}
.post-container .info {
  color: grey;
  font-style: italic;
}
.post-container .image {
  width: 100%;
  margin: 20px 0;
}
.post-container .image img {
  width: 100%;
}
.post-container .post-body {
  font-size: 20px;
  line-height: 1.5;
}

.form {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 20px #d6d6d6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 30vw;
}
.field input[type="text"],
.field input[type="password"],
.field textarea {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  outline: none;
  padding: 0 10px;
}
.field input[type="text"],
.field input[type="password"] {
  height: 35px;
}
form button {
  height: 35px;
  background: rgb(26, 191, 26);
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons .button {
  border: 1px solid lightgrey;
  padding: 5px 15px;
  font-size: 25px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.primary {
  background: rgb(26, 191, 26);
  color: white;
}
.danger {
  background: red;
  color: white;
}
.buttons .button:active {
  box-shadow: 0 0 5px 1px lightgrey;
}
.danger:hover {
  background: darkred;
}
.primary:hover {
  background: darkgreen;
}

form .title {
  font-size: 25px;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container .image {
  width: 40vw;
}
.flex-container .image img {
  width: 100%;
}
.flex-container .text {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-container .text .title {
  font-size: 30px;
}
.flex-container .button {
  background: rgb(26, 191, 26);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.redirect {
  text-align: right;
}
.redirect a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.redirect a:hover {
  text-decoration: underline;
}
