{% extends 'base_layout.html' %}

{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="title">Подтвердите удаление комментария</div>

    <div class="buttons">
      <button class="button primary">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
      <a class="button danger" href="{% url 'app:post' comment.post.pk %}">
        <ion-icon name="close-circle-outline"></ion-icon>
      </a>
    </div>
  </form>
</div>
{% endblock %}