{% extends 'base_layout.html' %}

{% block content %}
  <div class="container">
    {% if posts %}
      {% for post in posts %}
      <a class="post" href="{% url 'app:post' post.pk %}">
        <div>
          <div class="title">{{post.title}}</div>
          <div class="author">Опубликовано: {{post.author}}</div>
        </div>
        <div>
          <div class="text">{{post.snippet}}</div>
          <div class="date">{{post.created_at}}</div>
        </div>
      </a>
      {% endfor %}
    {% else %}
      <div class="title">Посты не найдены</div>
    </div>
    {% endif %}
  </div>
{% endblock %}