{% extends 'base_layout.html' %} 

{% block content %}
<div class="post-container">
  <div class="header">
    <div>
      <div class="title">{{post.title}}</div>
      <div class="info">Добавлено: {{post.created_at|date:'d.m.Y'}}</div>
    </div>
    <div class="buttons">
      <a href="{% url 'app:edit_post' post.pk %}" class="button primary">
       <ion-icon name="create-outline"></ion-icon>
      </a>
      <a href="{% url 'app:delete_post' post.pk %}" class="button danger">
        <ion-icon name="trash-outline"></ion-icon>
      </a>
    </div>
  </div>

  <div class="image">
    <img src="{{ post.image.url }}" alt="" />
  </div>
  <div class="post-body">{{post.body}}</div>
</div>
{% endblock %}
