{% extends 'base_layout.html' %}


{% block content %}

<div class="post-container">
  <div class="header">
    <div>
      <div class="title">{{post.title}}</div>
      <div class="info">Добавлено: {{post.created_at|date:'d.m.Y'}}</div>
    </div>
    {% if post.author == user or user.is_staff %}
    <div class="buttons">
      <a href="{% url 'app:edit_post' post.pk %}" class="button primary">
        <ion-icon name="create-outline"></ion-icon>
      </a>
      <a href="{% url 'app:delete_post' post.pk %}" class="button danger">
        <ion-icon name="trash-outline"></ion-icon>
      </a>
    </div>
    {% endif %}
  </div>

  <div class="image">
    <img src="{{ post.image.url }}" alt="" />
  </div>
  <div class="post-body">{{post.body}}</div>
  <hr />
  <div class="post-buttons">
    <a
      href="{% url 'app:post_like' post.pk %}"
      class="post-button {% if user in post.likes.all %} primary {% endif %}"
    >
      <ion-icon name="thumbs-up-outline"></ion-icon>
      {{post.likes.count}}
    </a>
    <a
      href="{% url 'app:post_dislike' post.pk %}"
      class="post-button {% if user in post.dislikes.all %} danger {% endif %}"
    >
      <ion-icon name="thumbs-down-outline"></ion-icon>
      {{post.dislikes.count}}
    </a>
  </div>

  <form class="comments" method="post">
    {% csrf_token %} {% for field in form %}
    <input
      type="text"
      class="input"
      name="{{field.name}}"
      placeholder="Введите комментарий"
    />
    {% endfor %}

    <div class="title">Комментариев: {{ post.comment_set.all.count }}</div>
  </form>

  <div class="comments-list">
    {% for comment in post_comments %}
    <div class="comment">
      {% if comment.parent %}
      <div class="is-reply">
        <ion-icon name="arrow-undo"></ion-icon>
        <div class="text">
          В ответ на "{{comment.parent.body|slice:":10" }}..."
        </div>
      </div>
      {% endif %} 
      {% if user == comment.author %}
      <div class="comment-buttons">
        <a
          class="comment-button primary"
          href="{% url 'app:comment_edit' comment.pk %}"
        >
          <ion-icon name="create-outline"></ion-icon>
        </a>
        <a
          class="comment-button danger"
          href="{% url 'app:comment_delete' comment.pk %}"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </a>
      </div>
      {% endif %}
      <div class="comment-head">
        <div class="avatar">
          <img
            src="https://static-00.iconduck.com/assets.00/avatar-default-icon-2048x2048-h6w375ur.png"
            alt=""
          />
        </div>
        <div class="user-data">
          <div class="username">{{comment.author}}</div>
          <div class="date">{{comment.date_created}}</div>
        </div>
      </div>
      <div class="comment-body">
        {% if comment.body|length <= 10 %} {{comment.body}} {% else %}
        {{comment.body|slice:":10"}}...
        <a сlass="read-more" href="{% url 'app:read_comment' comment.pk %}">
          Читать далее
        </a>
        {% endif %}
      </div>
      <div class="comment-footer">
        <div class="buttons">
          <a
            href="{% url 'app:comment_like' comment.pk %}"
            class="btn {% if user in comment.likes.all %} primary {% endif %}"
          >
            <ion-icon name="thumbs-up-outline"></ion-icon>
            {{comment.likes.count}}
          </a>
          <a
            href="{% url 'app:comment_dislike' comment.pk %}"
            class="btn {% if user in comment.dislikes.all %} danger {% endif %}"
          >
            <ion-icon name="thumbs-down-outline"></ion-icon>
            {{comment.likes.count}}
          </a>
        </div>
        <a href="{% url 'app:reply' comment.pk %}" class="reply"> Reply </a>
      </div>
      <div class="edited">
        {% if comment.is_edited %} Отредактировано {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% if post_comments.has_other_pages %}
  <div class="pagination-buttons">
    <div class="previous">
      {% if post_comments.has_previous %}
      <a href="{% url 'app:post' post.pk %}?page=1" class="button">
        В начало
      </a>
      <a href="{% url 'app:post' post.pk %}?page={{post_comments.previous_page_number}}" class="button">
        Назад
        </a>
      {% endif %}
    </div>
    <div class="current-page">
      {{post_comments.number}}
    </div>
   <div class="next">
    {% if post_comments.has_next %}
    <a href="{% url 'app:post' post.pk %}?page={{post_comments.next_page_number}}" class="button">
      Далее
      </a>
      <a href="{% url 'app:post' post.pk %}?page={{post_comments.paginator.num_pages}}" class="button">
        В конец
      </a>
    {% endif %}
   </div>
  </div>
  {% endif %}
</div>
{% endblock %}