{% extends 'base_layout.html' %} {% block content %}
<div class="post-container">
  <div class="header">
    <div>
      <div class="title">{{post.title}}</div>
      <div class="info">Добавлено: {{post.created_at|date:'d.m.Y'}}</div>
    </div>
    {% if post.author == user or user.is_staff %}
    <div class="buttons">
      <a href="{% url 'app:edit_post' post.pk %}" class="button primary">
        <ion-icon name="create-outline"></ion-icon>
      </a>
      <a href="{% url 'app:delete_post' post.pk %}" class="button danger">
        <ion-icon name="trash-outline"></ion-icon>
      </a>
    </div>
    {% endif %}
  </div>

  <div class="image">
    <img src="{{ post.image.url }}" alt="" />
  </div>
  <div class="post-body">{{post.body}}</div>
  <hr />

  <form class="comments" method="post">
    {% csrf_token %}
    
    {% for field in form %}
    <input
      type="text"
      class="input"
      name="{{field.name}}"
      placeholder="Введите комментарий"
    />
    {% endfor %}

    <div class="comments-list">
      <div class="title">Пока нет комментариев</div>
    </div>
  </form>
</div>
{% endblock %}
